/*general css*/
/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*colors*/
/*light pink*/
/* dark green*/
body {
  font-family: "Poppins";
  font-size: 14px; }

.navbar {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.32);
  background-color: #252038;
  padding: .1rem 1rem; }

.navbar-brand img {
  max-width: 80px; }

nav li a {
  font-family: "Poppins";
  text-transform: uppercase;
  color: #FBE9D9;
  font-weight: bold;
  letter-spacing: .8px; }

nav li a:hover {
  color: #736372;
  transition: 200ms; }

.container-fluid {
  padding: 0 !important; }

.body-heading {
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px; }

@media (min-width: 992px) {
  .body-heading {
    font-size: 42px; } }
/*navbar*/
#hamburger {
  display: block;
  background-color: transparent;
  margin: auto 0 auto;
  font-size: 30px;
  text-decoration: none;
  border: 1px solid transparent; }
  @media (min-width: 992px) {
    #hamburger {
      display: none; } }

.jumbotron {
  background-image: url("../imgs/smiling-women.jpg");
  padding: 10rem 5em 6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0; }
  @media (min-width: 992px) {
    .jumbotron {
      padding: 13rem 5em 8rem; } }

.overlay {
  padding: 50px 30px 30px;
  color: #FBE9D9; }

.overlay h1 {
  font-size: 38px;
  font-family: "Archivo Black";
  text-shadow: 2px 2px 7px rgba(88, 44, 25, 0.65);
  margin-bottom: 0; }
  @media (min-width: 768px) {
    .overlay h1 {
      font-size: 70px; } }

.overlay h2 {
  font-size: 24px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-style: italic;
  font-weight: 600;
  text-shadow: 1px 1px 5px rgba(88, 44, 25, 0.65); }
  @media (min-width: 768px) {
    .overlay h2 {
      font-size: 42px; } }

.home-title {
  padding: 50px 15px 20px; }
  .home-title h2 {
    font-family: "Poppins";
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    color: #335134;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .home-title h2 {
        font-size: 34px; } }
  .home-title h3 {
    font-family: "Archivo Black";
    font-size: 32px;
    text-transform: uppercase;
    color: #736372; }
    @media (min-width: 768px) {
      .home-title h3 {
        font-size: 38px; } }

form {
  border: 10px solid #F7D0BA;
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08); }

.form-icon {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 10px auto; }
  @media (min-width: 992px) {
    .form-icon {
      max-width: 55%; } }

.form-group.row .col-md-6 {
  margin: 8px auto; }
  .form-group.row .col-md-6 input {
    border: 3px solid #335134; }

.form-group.row .col-md-12 input {
  border: 3px solid #335134; }

.initial-routine {
  text-align: center; }

.skin-type:nth-of-type(1) {
  margin-top: 20px; }

.row.skin-type .col-md-4:first-of-type {
  background-color: #FBE9D9; }

.row.skin-type .col-md-4:nth-of-type(2) {
  background-color: #F7D0BA; }

.row.skin-type .col-md-4:last-of-type {
  background: #fbe9d9;
  background: linear-gradient(90deg, #fbe9d9 42%, #f7d0ba 74%); }

.row.skin-type .col-md-4 {
  padding: 15px 5px;
  text-align: center;
  margin: 8px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.12);
  transition: 250ms; }
  .row.skin-type .col-md-4:hover {
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.18);
    transition: 250ms;
    transform: scale(1.03); }

@media (min-width: 768px) {
  .skin-type .col-md-4 {
    max-width: 30.333333%; } }
.form-group:nth-of-type(3) {
  margin-top: 30px; }

label {
  font-family: "Archivo Black";
  color: #335134;
  font-size: 18px;
  text-transform: uppercase;
  margin: 8px auto; }

.skin-type input {
  appearance: none;
  border-radius: 50%;
  background-color: #FBE9D9;
  border: 6px solid #FBE9D9;
  outline: 3px solid #335134; }
  .skin-type input:active, .skin-type input:focus {
    border-color: #335134;
    background-color: #335134; }
  .skin-type input .form-control {
    font-size: 16px; }

.col-md-4 label {
  font-family: "Archivo Black";
  font-weight: bold;
  letter-spacing: .35px;
  text-transform: uppercase;
  font-size: 16px; }

.btn-lg {
  margin-top: 15px;
  background-color: #335134;
  color: #FBE9D9;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  min-width: 260px;
  font-family: "Poppins"; }

.btn-lg:hover {
  background-color: #252038;
  color: #FBE9D9;
  transition: 275ms; }

.button {
  text-align: center; }

.initial-routine {
  margin: 30px auto 15px; }

/*# sourceMappingURL=main.css.map */
